/.qtc_clangd/.cache/clangd/index
*.obj
*.pdb
*.bak
*.o
*.idx
*.stash
*.user
compile_commands.json
Makefile
build/*
build_*/*
**/CMakeFiles/
**/.cmake/
**/.qtc/
**/build/
.idea/*
/doc/doxygen-html
/lab/patch_tool/target
/lab/patch_tool/Cargo.lock
