/.qtc_clangd/.cache/clangd/index
*.obj
*.pdb
*.bak
*.o
*.idx
*.stash
*.user
compile_commands.json
Makefile
build/*
build_*/*
**/CMakeFiles/
**/.cmake/
**/.qtc/
**/build/
.idea/*
/doc/doxygen-html
/data/schemas/
/lab/patch_tool/target
/lab/patch_tool/Cargo.lock
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/out/
**/output/
/lab/cutscene_editor/bin/
/lab/wasm_browser_test/*.png
/dstar_performance_build/
/thunderstorm_sounds/
*.tmx.crc

# emulator stdout captured by run_switch.bat
logs/

# written by imgui in the working directory whenever a debug editor is opened
imgui.ini

# tiled writes one of these next to the project file, it holds per user editor state
deceptus.tiled-session
# frame dumps written to the working directory by the M recording hotkey
/[0-9][0-9][0-9][0-9][0-9]*.bmp
